<div class="container">
  <div class = "col-2 my-4 title" >
<h4>新規会員登録</h4>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<table class="table table-borderless">
  <tr>
    <td><%= f.label :名前 %></td>
    <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %>&emsp;</td>
  </tr>
  <tr>
    <td><%= f.label :フリガナ %></td>
    <td><%= f.text_field :kana_name, autofocus: true, autocomplete: "kana_name" %>&emsp;</td>
  </tr>
  <tr>
    <td><%= f.label :メールアドレス %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "35*35" %></td>
  </tr>
  <tr>
    <td><%= f.label :パスワード（6文字以上） %></td>
    <td><%= f.password_field :password, autocomplete: "current-password", :size => "35*35" %></td>
  </tr>
  <tr>
    <td><%= f.label :パスワード（確認用） %></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "off", :size => "35*35" %></td>
  </tr>
  <tr>
    <td></td>
    <td>&emsp;&emsp;&emsp;&emsp;
        <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><div class="actions mt-3">
      &emsp;&emsp;&emsp;&emsp;<%= f.submit "新規登録",class:"btn btn-success" %>
      <% end %>
    </td>
  </tr>
</table>
  <div class = "col-3 my-1 title" >
    <h4>既に登録済みの方</h4>
  </div>
  　<p>&emsp;&emsp;<%= link_to "こちら " ,new_customer_session_path %>からログインしてください。</p>
</div>
