<% items.each do |item| %>
	<tr>
	  <td><%= link_to customer_path(item.customer.id) do  %>
	  <%#= attachment_image_tag item.customer, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
	  <% end %></td>
		<td><%= link_to item.name,item_path(item.id) %></td>
		<td><%= item.introduction %></td>
		<td><%= link_to "#{item.comments.count} コメント", item_path(item.id) %></td>
    <td class =  <%= "item_favorite_#{item.id}"  %> >
       <%= render 'public/items/favorite', item: item, customer: current_customer %>
    </td>
	</tr>
<% end %>